.h1{
        text-align: center;
        height: 40px;
        background-image: linear-gradient(to right, red, orange, yellow, blue, violet);
      

}

.b1{

    border: red 2px solid;
    border-radius: 10px;
    background-color: royalblue;
    height: 80px;
    width: 800px;
    margin-left: 400px;
    margin-top: 20px;
    text-align: center;
    margin-block-start: 1em;

}

.container-1{

    display:flex;
    flex-wrap: wrap;
    border: red 2px solid;
    border-radius: 10px;
    background-color: lightgreen;
    height: 200px;
    width: 1500px;
    margin-top: 40px;
    text-align: center;
    
  
}

 .c1{

    border: black 2px solid;
    border-radius: 10px;
    background-color: skyblue;
    height: 80px;
    width: 450px;
    margin-top: 10px;
    margin-left: 30px;
    

}

.c2{

    border: black 2px solid;
    border-radius: 10px;
    background-color: SKYBLUE;
    height: 80px;
    width: 450px;
    margin-top: 10px;
    margin-left: 30px;

}
.c3{

    border: black 2px solid;
    border-radius: 10px;
    background-color: SKYBLUE;
    height: 80px;
    width: 450px;
    margin-top: 10px;
    margin-left: 30px;
}

.c4{
    border: black 2px solid;
    border-radius: 10px;
    background-color: SKYBLUE;
    height: 80px;
    width: 450px;
    margin-top: 10px;
    margin-left: 515px;
    
}

.h2{
    text-align: center;
    height: 40px;
    background-image: linear-gradient(to right, green, blue, orange, yellow,  violet);
  

}

.container-2{

    display:flex;
    flex-wrap: wrap;
    border: red 2px solid;
    border-radius: 10px;
    background-color: red; /* For browsers that do not support gradients */
    height: 150px;
    width: 200px;
    background-image: radial-gradient(red, green, blue);
    height: 200px;
    width: 1500px;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    color: tomato;
    
  
}

 .c-1{

    border: black 2px solid;
    border-radius: 10px;
    background-color: YELLOW;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    margin-left: 200px;
    

}

.c-2{

    border: black 2px solid;
    border-radius: 10px;
    background-color: YELLOW;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;

}
.c-3{

    border: black 2px solid;
    border-radius: 10px;
    background-color: YELLOW;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}

.c-4{
    border: black 2px solid;
    border-radius: 10px;
    background-color: YELLOW;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
  }
  
  .grid-container > div {
      text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .item1 {
    grid-column-end: span 4;
    background-color: red;
    color: white;
  }

    .item2 {
        background-color: green;
        color: white;
    }

    .item3 {
        background-color: blue;
        color: white;
    }
 
    .item4 {
        background-color: lime;
        color: white;
    }
     
  .item5 {
    grid-row-start: span 3;
    background-color: violet;
    color: white;
}
  
  .item6 { 
    grid-column-start: span 3;
    background-color: orange;
    color: white;
    }

  .item7{
    grid-column-start: span 4;
    background-color: lightskyblue;
    color:black;    
}
